@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="mt-5 list">
        <ul class="list-group">
            <li class="list-group-item">qwerty</li>
            <li class="list-group-item">svsvs</li>
            <li class="list-group-item">sfbf</li>
            <li class="list-group-item">dsvxdd</li>
        </ul>
        <button class="button">Knopka</button>
    </div>
