@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <table class="comptable table table-bordered table-hover">
        <thead>
            <tr>
                <th id="id" scope="col">Number of competition</th>
                <th scope="col">Competition name</th>
                <th scope="col">Competition city</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
    </table>
